.opaque {
  opacity: 0 !important;
}

.level-1 {
  width: 100% !important;
}
.level-2 {
  width: 90% !important;
}
.level-3 {
  width: 80% !important;
}
.level-4 {
  width: 70% !important;
}
.level-5 {
  width: 60% !important;
}
.level-6 {
  width: 50% !important;
}
.level-7 {
  width: 40% !important;
}
.level-8 {
  width: 30% !important;
}
.level-9 {
  width: 20% !important;
}
.level-10 {
  width: 10% !important;
}

.restrict {
  max-width: 1300px;
}



.res-clear:before,
.res-clear:after {
  content: " ";
  display: table;
}

.res-clear:after {
  clear: both;
}
