$configs: (
  bob: 20px
);

$colors: (
  primary: #45a6d0, //red
  flow-blue: #00b3ff,
  secondary: rgb(226, 32, 35), //pink
  accent-1: #1E1A1D, //black
  accent-2: #D6D2D2, //green
  accent-3: #E3DEDA, //light grey
  accent-4: #F5F4F4, //lighter grey
  accent-5: white,
  res-brown: #5f4d14
);

$breakpoints: (
  phone: 400px,
  phone-lg: 649px,
  tablet: 767px,
  tablet-lg: 991px,
  desktop: 1300px
);

@function config($key) {
  @if map-has-key($configs, $key) {
    @return map-get($configs, $key);
  }
  @warn "unknown #{$key} in configs map";
  @return null;
}

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn "Unknown #{$key} in colors map";
  @return null;
}

@function breakpoint($key) {
  @if map-has-key($breakpoints, $key) {
    @return map-get($breakpoints, $key);
  }
  @warn "Unknown #{$key} in breakpoints map";
  @return null;
}
