<div class="star">
  <div class="star__wrap">
    {{#each speeds}}
    <div class="star__ball" style="animation: ball {{this}}s infinite ease-in-out;"></div>
    {{/each}}
    <div class="res-clear"></div>
  </div>
</div>
<div class="header">
  <h2 class="header__title opaque">Hi, I'm Bryant Oblad</h2>
  <h4 class="header__middle opaque">--I'm a full stack developer--</h4>
</div>
