<div class="profile flipped">
  <div class="profile__head">
    <h2>Profile</h2>
  </div>
  <div class="profile__section">
    <h3 class="profile__title">ABOUT ME</h3>
    <p>I love to learn, I became a program a programmer because there is always more to learn.</p>
  </div>
  <div class="profile__section">
    <img class="profile__image" src="/images/capital-photo.jpg">
  </div>
  <div class="profile__section">
    <h3 class="profile__title">ABOUT ME</h3>
    <p>I love to learn, I became a program a programmer because there is always more to learn.</p>
  </div>
</div>
