<div class="profile">
  <h2 class="profile__head">
    Profile
  </h2>
  <div class="profile__wrap">
    <div class="profile__section">
      <div class="profile__image-wrap">
        <img class="profile__image" src="../images/bryantandanna.jpg">
      </div>
    </div>
    <div class="profile__section">
      <h3 class="profile__title">ABOUT ME</h3>
      <div class="profile__paragraph-wrap restrict">
        <p class="profile__paragraph">
          I love to code and I love to learn to new things. Everyday I strive to
          better my programming skills and to get into new topics that force
          me to progress in my field. I love working with fellow developers and finding
          the best possible solution for the task at hand, whether that is an implementation
          or choice of tool. I take pride in my projects so I put in extra effort to make sure things are done right.
          My favorite moments as a developer are when I get stumped, because I find it very rewarding
          when I fix those difficult problems.
        </p>
        <p class="profile__paragraph">
          My personal programming goal is to learn something interesting and useful every day.
        </p>
        <p class="profile__paragraph">
          I love being a software developer.
        </p>
      </div>
    </div>
  </div>
  <div class="res-clear"></div>

</div>
