<div class="profile">
  <h2 class="profile__head">
    Profile
  </h2>
  <div class="profile__section">
    <div class="profile__image-wrap">
      <img class="profile__image" src="../images/bryantandanna.jpg">
    </div>
    <h3 class="profile__title">ABOUT ME</h3>
    <div class="profile__paragraph-wrap restrict closed">
      <p class="profile__paragraph">
        I'm a do it yourself kind of person, whether it is writing code,
        welding, woodworking or even exploring art I love to build things. I decided years ago
        to become a programmer because there is always the next challenge or something new to learn.
        I enjoy being active whether its playing soccer or fly fishing, I just love being outside.
      </p>
      <p class="profile__paragraph">
        My personal programming goal is to learn something interesting and useful every day.
      </p>
    </div>
  </div>

</div>
