<div class="profile flipped">
  <div class="profile__head">
    <h2>Profile</h2>
  </div>
  <div class="profile__section">
    <h3 class="profile__title">ABOUT ME</h3>
    <div class="profile__paragraph-wrap">
      <p class="profile__paragraph">
        I'm a do it yourself kind of person, whether it is writing code,
        welding, woodworking or even exploring art I love to build things. I decided years ago
        to become a programmer because there is always the next challenge or something new to learn.
        I enjoy being active whether its playing soccer or fly fishing, I just love being outside.
      </p>
      <p class="profile__paragraph">
        My personal programming goal is to learn something interesting and useful every day.
      </p>
    </div>
  </div>
  <div class="profile__section">
    <img class="profile__image" src="/images/capital-photo.jpg">
  </div>
  <div class="profile__section">
    <h3 class="profile__title">Person</h3>
    <ul>
      <li>Age: 21</li>
      <li>Home: Logan Utah</li>
      <li></li>
    </ul>
  </div>
</div>
