<div class="profile">
  <h2 class="profile__head">
    Profile
  </h2>
  <div class="profile__wrap">
    <div class="profile__section">
      <div class="profile__image-wrap">
        <img class="profile__image" src="../images/bryantandanna.jpg">
      </div>
    </div>
    <div class="profile__section">
      <h3 class="profile__title">ABOUT ME</h3>
      <div class="profile__paragraph-wrap restrict">
        <p class="profile__paragraph">
          I love to code and I love to learn to new things. Each day I strive to
          better my programming skills and I love to get into new topics that force
          me to progress in my field. I like working with fellow programmers and find
          the best possible solution for the task at hand, whether that is an implementation
          or choice of tool. I love to do thing right. Currently I am very excited
          about backend api development. I have spent most of my time in front end
          UI and UX development. I want to feel comfortable with calling myself a full stack
          developer.
        </p>
        <p class="profile__paragraph">
          My personal programming goal is to learn something interesting and useful every day.
        </p>
      </div>
    </div>
  </div>
  <div class="res-clear"></div>

</div>
