<div class="skills">
  <div class="skills__head">
    <h3 class="skills__title">Skills</h3>
  </div>
  <div class="skills__wrap">
    <div class="skills__section">
      <h4 class="skills__label">React + Redux</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="react">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">React-Native (IOS & Android)</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="react-native">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">Javascript</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="javascript">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">HTML</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="html-skill">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">CSS & SCSS</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="css-scss">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">C++</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="c-plus-plus">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">Java</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="java">
          <div class="skills__ball"></div>
        </div>
      </div>
    </div>
    <div class="skills__section">
      <h4 class="skills__label">Python</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="python">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">Django + Django REST</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="django">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">Unix + Servers</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="unix">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">Wordpress</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="wordpress">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">PHP</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="php">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">Ruby on Rails</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="rails">
          <div class="skills__ball"></div>
        </div>
      </div>
      <h4 class="skills__label">Native Android</h4>
      <div class="skills__progress-wrap">
        <div class="skills__progress" id="native-android">
          <div class="skills__ball"></div>
        </div>
      </div>
    </div>
  </div>
</div>
