<div class="skills">
  <div class="skills__head">
    <h3 class="skills__title">Skills</h3>
  </div>
  <div class="skills__section">
    <h4 class="skills__label">React</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="react"></div>
    </div>
    <h4 class="skills__label">React-Native</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="react-native"></div>
    </div>
    <h4 class="skills__label">Javascript</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="javascript"></div>
    </div>
    <h4 class="skills__label">HTML</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="html-skill"></div>
    </div>
    <h4 class="skills__label">CSS & SCSS</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="css-scss"></div>
    </div>
    <h4 class="skills__label">C++</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="c-plus-plus"></div>
    </div>
  </div>
  <div class="skills__section">
    <h4 class="skills__label">Python</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="python"></div>
    </div>
    <h4 class="skills__label">Django + Django REST</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="django"></div>
    </div>
    <h4 class="skills__label">Unix + Servers</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="unix"></div>
    </div>
    <h4 class="skills__label">Wordpress</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="wordpress"></div>
    </div>
    <h4 class="skills__label">PHP</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="php"></div>
    </div>
    <h4 class="skills__label">Ruby</h4>
    <div class="skills__progress-wrap">
      <div class="skills__progress" id="rails"></div>
    </div>
  </div>
</div>
