<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bryant Oblad</title>
    <link rel="stylesheet" href="/css/base.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="wrap">
      {{> head }}
      {{> profile }}
      {{> skills }}

      <div class="experience">
        <div class="experience__head">
          <h3 class="experience__title">Experience</h3>
        </div>
      </div>

      <div class="education">
        <div class="education__head">
          <h3 class="education__title">Education</h3>
        </div>
        <div class="education__image-wrap">
        </div>
      </div>

      <div class="work">
        <div class="work__head">
          <h3 class="work__title">My Work</h3>
        </div>
      </div>

      <div class="personal">
        <div class="personal__head">
          <h3 class="personal__title">My Personal Projects</h3>
        </div>
      </div>

      <div class="contact">
        <div class="contact__head">
          <h3 class="contact__title">Contact</h3>
        </div>
      </div>


  </body>
  <script src="/js/main.js"></script>
  <script src="/js/skills.js"></script>
</html>
