<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bryant Oblad</title>
    <link rel="stylesheet" href="/css/base.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="wrap">
      {{> head }}
      {{> profile }}
      {{> skills }}

      <div class="experience">
        <div class="experience__head">
          <h3 class="experience__title">Experience</h3>
        </div>
        <div class="experience__content flipped" id="experience-1">
          <h3 class="experience__category">Pony Express Productions</h3>
          <div class="experience__sub">
            <p class="experience__sub-item">-Junior Full Stack Developer-</p>
            <p class="experience__sub-item" id="todays-date">Jan 1, 2016 - </p>
          </div>
              <ul class="experience__unordered-list">
                <li class="experience__unordered-item">HTML & CSS</li>
                <li class="experience__unordered-item">React</li>
                <li class="experience__unordered-item">React-native</li>
                <li class="experience__unordered-item">Django Rest Framework</li>
                <li class="experience__unordered-item">PostgreSQL</li>
                <li class="experience__unordered-item">Django</li>
                <li class="experience__unordered-item">Nodejs</li>
                <li class="experience__unordered-item">Config and Deploy Servers</li>
                <li class="experience__unordered-item">Git</li>
                <li class="experience__unordered-item">Wordpress</li>
              </ul>
            <img class="experience__image-pxp" src="../images/pxp-image.png">
        </div>
        <div class="experience__content flipped" id="experience-2">
          <h3 class="experience__category">Fresh Code LLC.</h3>
          <div class="experience__sub">
            <p class="experience__sub-item">-Contractor-</p>
            <p class="experience__sub-item">Oct 2015 - Jan 1, 2016</p>
          </div>
              <ul class="experience__unordered-list">
                <li class="experience__unordered-item">React</li>
                <li class="experience__unordered-item">Nodejs - (mongodb + mongoose)</li>
                <li class="experience__unordered-item">HTML & CSS</li>
                <li class="experience__unordered-item">JQuery</li>
                <li class="experience__unordered-item">Git</li>
              </ul>
            <img class="experience__image-fresh" src="../images/freshcode-logo.png">
        </div>
      </div>

      <div class="education">
        <div class="education__head">
          <h3 class="education__title">Education</h3>
        </div>
        <img src="images/utah_state_logo.png" class="education__image-wrap">
        <div class="education__content">
          <ul class="education__unordered-list">
            <li>Utah State University (2013 - 2018)</li>
            <li>Major in Computer Science</li>
            <li>Minor in Mathematics</li>
          </ul>
        </div>
        <h3 class="education__help">Helpful classes I have taken from USU</h3>
        <div>
          <ul class="education__classes-unordered-list">
            <li>Discrete Mathmatics</li>
            <li>Web development</li>
            <li>Data structures and algorithms</li>
            <li>Scientific programming with python</li>
            <li>Operating systems and concurrency</li>
            <li>Caluclus</li>
            <li>Multivariable Calculus</li>
            <li>Linear Algebra</li>
          </ul>
        </div>
      </div>

      <div class="work">
        <div class="work__head">
          <h3 class="work__title">Companies I have worked with</h3>
        </div>
      </div>

      <div class="personal">
        <div class="personal__head">
          <h3 class="personal__title">My Projects</h3>
        </div>
        <div>
          <div class="personal__project">
            <h4 class="personal__project-title">Arduino-bluetooth Remote Control Car</h4>
            <p>
              This was the first android app I ever built. I created a very basic
              bluetooth connection with my arduino to control the RC speed and steering.
              The RC car was made from a RC frame I aquired from a thrift store, I
              then removed all of the default hardware and then installed my own
              servo for steering, motor for power, motorboard to control a larger
              amount of current, a power source, a bluetooth chip and an arduino to
              control all of my logic.
            </p>
          </div>
          <div class="personal__project">
            <h4 class="personal__project-title">Quadcopter from Scratch</h4>
            <p>
              This has by far been the longest personal project I have done.
              I started with a whole lot of research, bought all the necessary
              parts indiviually on amazon, (Brushless Motors, ESC's, Distribution Board,
              )
            </p>
          </div>
        </div>
      </div>

      <div class="contact">
        <div class="contact__head">
          <h3 class="contact__title">Contact</h3>
        </div>
        <div class="contact__form">
          <div class="contact__input-wrap">
            <input class="contact__input" id='subject'>
            <label class="contact__label">Subject</label>
          </div>
          <div class="contact__input-wrap">
            <input class="contact__input" id='message'>
            <label class="contact__label">Message</label>
          </div>
          <div class="contact__input-wrap">
            <input class="contact__input" id='email'>
            <label class="contact__label">Reply E-mail</label>
          </div>
          <p class="contact__submit">GET CONNECTED</p>
        </div>
      </div>


  </body>
  <script src="/js/main.js"></script>
  <script src="/js/skills.js"></script>
  <script src="/js/experience.js"></script>
  <script src="/js/contact.js"></script>
</html>
