<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bryant Oblad Resume">
    <title>Bryant Oblad</title>
    <link rel="stylesheet" href="/css/base.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    {{#if is_production}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84497800-1', 'auto');
      ga('send', 'pageview');

    </script>
    {{/if}}
  </head>
  <body>
    <div class="wrap">
      {{> head }}
      {{> profile }}
      {{> skills }}

      <div class="experience">
        <div class="experience__head">
          <h3 class="experience__title">Experience</h3>
        </div>
        <div class="experience__content flipped" id="experience-1">
          <div class="full-wrap">
            <img class="experience__image-pxp" src="../images/pxp-image.png">
          </div>
          <h3 class="experience__category">Pony Express Productions</h3>
          <div class="experience__sub">
            <p class="experience__sub-item">-Full Stack Developer-</p>
            <p class="experience__sub-item" id="todays-date">Jan 1, 2016 - </p>
          </div>
          <p class="experience__paragraph">
            I am a full stack developer at PXP. I am a dev lead on many of my
            projects and I maintain a relationship with several clients as well as
            make sure the codebase is moving at a sufficient rate. I do front-end work,
            back-end restful work, server work, and native work.
          </p>
          <ul class="experience__unordered-list">
            <li class="experience__unordered-item">HTML & postCSS & SCSS</li>
            <li class="experience__unordered-item">React + Redux</li>
            <li class="experience__unordered-item">React-native</li>
            <li class="experience__unordered-item">Django Rest Framework</li>
            <li class="experience__unordered-item">PostgreSQL/MySQL</li>
            <li class="experience__unordered-item">MongoDB</li>
            <li class="experience__unordered-item">RealmDB</li>
            <li class="experience__unordered-item">Django</li>
            <li class="experience__unordered-item">Flask</li>
            <li class="experience__unordered-item">Nodejs</li>
            <li class="experience__unordered-item">Config and Deploy Servers</li>
            <li class="experience__unordered-item">Git</li>
            <li class="experience__unordered-item">Wordpress</li>
            <li class="experience__unordered-item">Native Android (Java)</li>
            <li class="experience__unordered-item">Nginx or Apache</li>
          </ul>
        </div>
        <div class="experience__content flipped" id="experience-2">
          <div class="full-wrap">
            <img class="experience__image-fresh" src="../images/freshcode-logo.png">
          </div>
          <h3 class="experience__category">Fresh Code LLC.</h3>
          <div class="experience__sub">
            <p class="experience__sub-item">-Contractor-</p>
            <p class="experience__sub-item">Oct 2015 - Jan 1, 2016</p>
          </div>
          <p class="experience__paragraph">
            Fresh Code was my first chance at doing real client work. I started
            with fresh code knowing c++, javascript, and a small amount of java.
            Through my experience at Fresh Code I was able to start to establish myself
            as a developer. At Fresh Code I got to grind through many different frameworks.
            I got to work on many projects that made me strech and grow.
          </p>
              <ul class="experience__unordered-list">
                <li class="experience__unordered-item">React + Redux</li>
                <li class="experience__unordered-item">Nodejs - (mongodb + mongoose)</li>
                <li class="experience__unordered-item">HTML & CSS</li>
                <li class="experience__unordered-item">JQuery</li>
                <li class="experience__unordered-item">Git</li>
              </ul>
            <div class="res-clear"></div>
        </div>
        <div class="res-clear"></div>
      </div>

      <div class="education">
        <div class="education__head">
          <h3 class="education__title">Education</h3>
        </div>
        <img src="images/utah_state_logo.png" class="education__image-wrap">
        <div class="education__content">
          <ul class="education__unordered-list">
            <li>Utah State University (2013 - December 2017)</li>
            <li>Major in Computer Science</li>
            <li>Minor in Mathematics</li>
          </ul>
        </div>
        <h3 class="education__help">Helpful classes I have taken from USU</h3>
        <div>
          <ul class="education__classes-unordered-list">
            <li>Advanced Algorithms</li>
            <li>Rapid Problem Solving</li>
            <li>Discrete Mathmatics</li>
            <li>Web development</li>
            <li>Data structures and algorithms</li>
            <li>Scientific programming with python</li>
            <li>Operating systems and concurrency</li>
            <li>Computer Architecture</li>
          </ul>
        </div>
      </div>

      <div class="work">
        <div class="work__head">
          <h3 class="work__title">Companies I've done work for</h3>
        </div>
        <div class="work__content">
          <h2 class="work__client">This section will be displayed when all clients allow me to display my work.</h2>
          <!-- <img class="work__image" src="../images/keybank.png">
          <img class="work__image" src="../images/hp.png">
          <img class="work__image" src="../images/willing.png">
          <img class="work__image" src="../images/verifone.jpg">
          <img class="work__image" src="../images/mormon.jpg">
          <img class="work__image" src="../images/beauty.jpg"> -->
        </div>
        <!-- <p class="work__etc">And many more!<p> -->
        <div class="res-clear"></div>
      </div>

      <div class="personal">
        <div class="personal__head">
          <h3 class="personal__title">Personal Projects</h3>
        </div>
        <div>
          <div class="personal__project">
            <h4 class="personal__project-title">Arduino-bluetooth Remote Control Car</h4>
            <p>
              This was the first android app I ever built. I created a very basic
              bluetooth connection with my arduino to control the RC speed and steering.
              The RC car was made from a RC frame I aquired from a thrift store, I
              then removed all of the default hardware and then installed my own
              servo for steering, motor for power, motorboard to control a larger
              amount of current, a power source, a bluetooth chip and an arduino to
              control all of my logic.
            </p>
          </div>
          <div class="personal__project">
            <h4 class="personal__project-title">Arduino Quadcopter from scratch</h4>
            <p>
              This has by far been the longest personal project I have done.
              I started with a whole lot of research, bought all the necessary
              parts indiviually on amazon, (brushless motors, ESC's, distribution board, receiver, accelerometer + gyro, etc).
              Then I started an 8 month trial and error process. In the end, my quadcopter did fly with my code. My
              quad still needs some fine tuning but I am very proud of this project.
              </thead>
            </p>
            <div class="personal__gall">
              <img class="personal__img" src="../images/quad1.jpg">
              <img class="personal__img" src="../images/quad2.jpg">
            </div>
          </div>
          <div class="personal__project">
            <h4 class="personal__project-title">House Controller</h4>
            <p>
              I made a simple django application on a raspberry pi that integrated
              with the raspberry pi i/o pins, I wired a few servos to listen for web
              requests to toggle light switches on and off as well as opening and closing my garage door.
              I didn't want to remove my lightswitch jig everytime I wanted to manually toggle a lightswitch,
              so each light switch also has a button next to it to toggle the light
              switch. To make this appliction efficient to use, I made a mobile
              application to make api calls the the django server.
            </p>
          </div>
          <div class="personal__project">
            <h4 class="personal__project-title">Any many more! Please ask if you are interested.</h4>
          </div>
        </div>
      </div>

      <div class="contact">
        <div class="contact__head">
          <h3 class="contact__title">Contact</h3>
        </div>
        <div class="contact__mail">
          <div class="contact__arrow-down"></div>
          <div class="contact__form">
            <div class="contact__input-wrap">
              <label class="contact__label">Reply E-mail</label>
              <input class="contact__input" id='email'>
            </div>
            <div class="contact__input-wrap">
              <label class="contact__label">Message</label>
              <textarea class="contact__textarea" id='message'></textarea>
            </div>
          </div>
          <div class="contact__arrow-bottom-left"></div>
          <div class="contact__arrow-bottom-right"></div>
          <p class="contact__submit">GET CONNECTED</p>
          <p class="contact__submit-mobile">GET CONNECTED</p>
          <div class="res-clear"></div>
        </div>
        <div class="mailbox hide">
          <div class="mailbox__door"></div>
          <div class="mailbox__flag">
            <div class="mailbox__flag-top"></div>
          </div>
          <div class="mailbox__stick"></div>
        </div>

        <p class="contact__thank-you">Thank You!</p>
        <p class="contact__animate">
          If you just want to see my animation <span class="contact__click-here">click here</span>
        <p>
      </div>
        <div class="social">
          <div class="social__wrap">
            <a href="https://github.com/boblad">
              <img class="social__icon" src="../images/github.png">
            </a>
            <a href="https://www.instagram.com/bryantoblad/">
              <img class="social__icon" src="../images/insta.png">
            </a>
            <a href="https://www.linkedin.com/in/bryant-oblad-3123b751">
              <img class="social__icon" src="../images/linkedin.png">
            </a>
            <div class="res-clear"></div>
          </div>
        </div>
      <div class="logos">
        <div class="logos__wrap">
          <img class="logos__item" src="../images/c++.png">
          <img class="logos__item" src="../images/django.png">
          <img class="logos__item" src="../images/electron.png">
          <img class="logos__item" src="../images/git.png">
          <img class="logos__item" src="../images/html.jpg">
          <img class="logos__item" src="../images/js.png">
          <img class="logos__item" src="../images/mongo.png">
          <img class="logos__item" src="../images/mysql.png">
          <img class="logos__item" src="../images/node.jpg">
          <img class="logos__item" src="../images/php.jpg">
          <img class="logos__item" src="../images/postgresql.png">
          <img class="logos__item" src="../images/python.jpg">
          <img class="logos__item" src="../images/rails.png">
          <img class="logos__item" src="../images/react.png">
          <div class="res-clear"></div>
        </div>
      </div>
  </body>
  <script src="/js/main.js"></script>
  <script src="/js/skills.js"></script>
  <script src="/js/experience.js"></script>
  <script src="/js/contact.js"></script>
</html>
