* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', san-serif;
}

p {
  line-height: 1.75;
}

.re-layout {
  width: 100%;
  float: left;
  position: relative;
}

.re-spacer-12 {
  width: 100%;
  float: left;
  height: 12px;
}

.re-spacer-48 {
  width: 100%;
  float: left;
  height: 48px;
}

.re-clear:before,
.re-clear:after {
  content: " ";
  display: table;
}

.re-clear:after {
  clear: both;
}

.re-opaque {
  opacity: 0 !important;
}

.re-transition {
  transition: .3s;
}
