.contact {
  float: left;
  width: 100%;
  height: 900px;
  background-color: color(primary);

  &__head {
    width: 85%;
    height: 110px;
    margin: 0 auto 50px auto;
    border-bottom: 1px solid color(accent-5);
  }

  &__title {
    text-align: center;
    color: color(accent-5);
    font-size: 40px;
    padding: 35px;
  }

  &__mail {
    width: 600px;
    height: 400px;
    background: color(accent-1);
    margin: 300px auto 0 auto;
    position: relative;

    @media screen and (max-width: breakpoint(tablet)) {
      width: 300px;
      height: 0;
    }
  }

  &__arrow-down {
      position: absolute;
      top: 0px;
      width: 0;
      height: 0;
      border-left: 300px solid transparent;
      border-right: 300px solid transparent;
      border-top: 200px solid color(accent-2);
      transition: top .6s linear, transform .6s linear;
      z-index: 200;

      &.open {
        transform: rotateX(-180deg);
        transform-origin: top;
      }

      @media screen and (max-width: breakpoint(tablet)) {
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        border-top: 100px solid color(accent-2);
      }
  }

  &__arrow-bottom-left {
    position: absolute;
    top: 0;
  	width: 0;
  	height: 0;
  	border-bottom: 400px solid color(accent-2);
  	border-right: 600px solid transparent;
    z-index: 250;

    @media screen and (max-width: breakpoint(tablet)) {
      border-bottom: 200px solid color(accent-2);
      border-right: 300px solid transparent;
    }
  }

  &__arrow-bottom-right {
    position: absolute;
    top: 0;
    right: 0;
  	width: 0;
  	height: 0;
  	border-top: 200px solid transparent;
  	border-right: 300px solid color(accent-2);
  	border-bottom: 200px solid transparent;
    z-index: 250;

    @media screen and (max-width: breakpoint(tablet)) {
      border-top: 100px solid transparent;
      border-right: 150px solid color(accent-2);
      border-bottom: 100px solid transparent;
    }
  }

  &__form {
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 100;
    background: color(accent-1);
    height: 300px;
    transition: top .3s, height .3s;

    &.slide-out {
      height: 600px;
      top: -280px;
      z-index: 200;

      @media screen and (max-width: breakpoint(tablet)) {
        height: 480px;
      }
    }
    @media screen and (max-width: breakpoint(tablet)) {
      height: 0;
      overflow: hidden;
    }
  }

  &__input-wrap {
    width: 80%;
    height: 40px;
    margin: 10px auto;

  }

  &__label {
    color: color(accent-5);
    width: 100%;
    float: right;
    text-align: right;
    padding: 12px;
  }

  &__input {
    color: color(accent-1);
    width: 480px;
    float: right;
    height: 40px;
    border: 5px solid color(accent-2);
    border-radius: 5px;
    outline: none !important;
    font-size: 18px;
    padding: 5px;

    &:focus {
      outline: none !important;
      border: 5px solid color(primary);
    }

    @media screen and (max-width: breakpoint(tablet)) {
        width: 240px;
    }
  }

  &__textarea {
    color: color(accent-1);
    width: 480px;
    float: right;
    height: 120px;
    border: 5px solid color(accent-2);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;

    &:focus {
      outline: none !important;
      border: 5px solid color(primary);
    }

    @media screen and (max-width: breakpoint(tablet)) {
      width: 240px;
    }
  }

  &__focussed {
    border: 2px solid color(accent-1);
  }

  &__submit {
    display: inline-block;
    text-align: center;
    margin: 45px 150px;
    padding: 20px;
    background: color(primary);
    width: 300px;
    color: white;
    border-radius: 50px;
    border: 5px solid color(accent-2);

    &-mobile {
      display: none;
      width: 100%;
      text-align: center;
      border-radius: 50px;
      background: color(accent-1);
      color: white;
      position: absolute;
      bottom: -280px;
      padding: 20px;
      border: 5px solid color(accent-2);

      @media screen and (max-width: breakpoint(tablet)) {
        display: block;
      }
    }

    &-mobilewrap {
      width: 100%;
      float: left;
    }

    @media screen and (max-width: breakpoint(tablet)) {
        display: none;
    }
  }
}
