.logos {
  width: 100%;
  float: left;
  background: color(accent-1);


  &__item {
    height: 50px;
    width: auto;
    float: left;
  }

  &__wrap {
    display: flex;
    justify-content: center;
  }
}
