.personal {
  float: left;
  width: 100%;
  padding: 20px 0;

  &__head {
    width: 85%;
    margin: 0 auto;
    border-bottom: 2px solid color(accent-2);
  }

  &__project {
    padding: 10px 10%;
  }

  &__project-title {
    font-size: 25px;
    border-bottom: 1px solid color(primary);
    margin-bottom: 15px;
    padding: 10px 0;
  }

  &__img {
    width: calc(50% - 20px);
    float: left;
    height: 400px;
    object-fit: cover;
    border: 5px solid color(accent-2);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;

    @media screen and (max-width: breakpoint(tablet)) {
      width: 100%;
      margin: 10px 0 0 0;
    }
  }

  &__gall {
    width: 100%;
    float: left;
    padding: 20px;
  }

  &__title {
    text-align: center;
    color: color(primary);
    font-size: 40px;
    padding: 35px;
  }
}
