.personal {
  float: left;
  width: 100%;
  padding: 20px 0;

  &__head {
    width: 85%;
    margin: 0 auto;
    border-bottom: 2px solid color(accent-2);
  }

  &__project {
    padding: 10px 10%;
  }

  &__project-title {
    font-size: 25px;
    border-bottom: 1px solid color(primary);
    margin-bottom: 15px;
    padding: 10px 0;
  }

  &__title {
    text-align: center;
    color: color(primary);
    font-size: 40px;
    padding: 35px;
  }
}
