.profile {
  width: 100%;
  padding: 10px;
  background: color(accent-5);
  color: color(primary);
  text-align: center;
  font-size: 30px;
  padding: 30px;
  height: 600px;
  transition: .5s;

  &__head {
    width: 85%;
    height: 80px;
    margin: 0 auto;
    border-bottom: 1px solid color(accent-2);
  }

  &__section {
    width: 33%;
    padding: 30px 10px 10px 10px;
    float: left;
    font-size: 16px;
  }

  &__image {
    width: 80%;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid color(accent-2);
  }

  &__paragraph-wrap {
    border-radius: 10px;
    background: color(secondary);
    padding: 0 10px;
  }

  &__paragraph {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    background: color(secondary);
  }

  &__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  &.flipped {
    transform: rotateZ(180deg);
  }
}
