.profile {
  width: 100%;
  float: left;
  padding: 20px;
  background: color(primary);
  color: color(accent-5);
  text-align: center;
  font-size: 30px;
  padding: 45px;
  transition: .5s;
  min-height: 500px;


  &__head {
    width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid color(accent-5);
    text-align: center;
    font-size: 38px;
    padding: 20px;
  }

  &__section {
    width: 50%;
    float: left;
    font-size: 16px;
    padding-top: 30px;

    @media screen and (max-width: breakpoint(tablet)) {
      width: 100%;
    }
  }

  &__image {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    object-fit: cover;
    border: 4px solid color(accent-1);
  }

  &__image-wrap {
    width: 250px;
    height: 250px;
    position: absolute;
    left: calc(25% - 125px);
    top: calc(50% - 125px);

    @media screen and (max-width: breakpoint(tablet)) {
      position: relative;
      margin: 0 auto;
      left: auto;
      top: auto;
    }
  }

  &__paragraph-wrap {
    border-radius: 25px;
    width: 100%;
    float: left;
    padding: 15px;
    border: 3px solid color(accent-1);
    background: color(accent-5);
    transition: 1s cubic-bezier(.87,-.41,.19,1.44);
    overflow: hidden;

    &.closed {
      border: 0;
      padding: 0;
      width: 0;
      height: 0;
    }

    @media screen and (max-width: breakpoint(tablet)) {
      width: auto;
    }
  }

  &__paragraph {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: color(accent-1);
  }

  &__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  &__wrap {
    width: 100%;
    float: left;
    position: relative;
  }

  &.flipped {
    transform: rotateZ(180deg);
  }
}
