.work {
  float: left;
  width: 100%;
  background-color: color(primary);
  padding-bottom: 30px;

  &__content {
    padding: 10px 10%;
  }

  &__head {
    width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid color(accent-2);
  }

  &__image {
    width: 50%;
    float: left;
    object-fit: contain;
    height: 200px;
    background: white;
    border: 5px solid color(primary);
    padding: 20px;
  }

  &__etc {
    width: 100%;
    float: left;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }

  &__paragraph {
    padding-top: 10px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: color(accent-2);

      &:hover {
        color: color(secondary);
      }
    }
  }

  &__sub-head {
    padding: 5px 0;
    font-size: 24px;
    border-bottom: 1px solid color(accent-2);
  }

  &__title {
    text-align: center;
    color: color(accent-5);
    font-size: 40px;
    padding: 35px;
  }
}
