.work {
  float: left;
  width: 100%;
  background-color: color(primary);

  &__content {
    padding: 10px 10%;
  }

  &__head {
    width: 85%;
    height: 110px;
    margin: 0 auto;
    border-bottom: 1px solid color(accent-2);
  }

  &__paragraph {
    padding-top: 10px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: color(accent-2);

      &:hover {
        color: color(secondary);
      }
    }
  }

  &__sub-head {
    padding: 5px 0;
    font-size: 24px;
    border-bottom: 1px solid color(accent-2);
  }

  &__title {
    text-align: center;
    color: color(accent-2);
    font-size: 40px;
    padding: 35px;
  }
}
